:root {
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
    --Font-size: 18px;
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--Dark-Blue);
}

a:hover {
    color: var(--Lime-Green);
}

.fluid-div {
    background-color: var(--White);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo-div,
.list-div {
    padding-top: 1rem;
}

label, .cb {
    display: none;
}

.btn-div {
    padding-top: .5rem;
    padding-left: 6rem;
}

.nav-div {
    width: 90%;
    margin-inline: auto;
}

.list-div > ul li {
    display: inline-block;
    margin-right: 1rem;
}

.left-grid {
    padding: 6rem;
}

.cta {
    display: grid;
    background-color: var(--Very-Light-Gray);
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.left-grid > h1 {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: var(--Dark-Blue);
}

h2,
h4,
h5 {
    color: var(--Dark-Blue);
}

p {
    line-height: 1.5;
    color: var(--Grayish-Blue);
}

.btn {
    background-image: linear-gradient(to right, hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    border-radius: 50px;
    color: var(--White);
    padding: .4rem 2rem;
}

.right-grid {
    background-image: url(/images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: 850px;
    background-position: left 45%;    
    position: relative;
}

.right-grid > img {
    width: 500px;
    position: absolute;
    right: 10%;
    top: -10%;
    z-index: 1;
}

.sec-1 {
    background-color: var(--Light-Grayish-Blue);
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.sec-1-row,
.sec-2-row,
.sec-3-row {
    width: 90%;
    margin-inline: auto;
}

.sec-1-row>h2 {
    padding-bottom: .5rem;
}

.sec-2 {
    background-color: var(--Light-Grayish-Blue);
    padding-bottom: 3rem;
}

.sec-3 {
    background-color: var(--Very-Light-Gray);
    padding-block: 3rem;
}

.sec-2-row {
    padding-block: 1rem;
}

.column>img {
   width: 50px;
   padding-block: 1rem;
}

.column h4 {
    padding-block: .7rem;
}

.cardy img {
    width: 260px;
    border-radius: 5px;
    margin-bottom: 1.2rem;
}

.cardy > h5, 
 figcaption {
    margin-block: .7rem;
    padding-inline: 1rem;
}

.para, figcaption {
    margin-block: .7rem;
    padding-inline: 1rem;
    color: var(--Grayish-Blue)
}

footer {
    background-color: var(--Dark-Blue);
}

.footer-row {
    width: 90%;
    margin-inline: auto;
}

.footer-logo > img { 
    color: var(--White);
}

.footer-list ul li {
    color: var(--Grayish-Blue);
}

.butt-div {
    padding-left: 21rem;
}

.icon > img {
    margin-inline: 3px;
}

@media screen and (max-width: 900px) {
    .cta {
        display: flex;
        flex-direction: column;
    }

    .nav-div {
        position: relative;
        padding-bottom: 1rem;
        width: 100%;
    }

    .list-div, 
    .btn-div {
        /*display: none;*/
        text-align: center;
        transform: scale(1, 0);
        transition: transform ease-in-out 250ms;
        transform-origin: top;
    }

    .cb:checked ~ .list-div {
        /*display: block;*/
        transform: scale(1, 1);
        width: 100%;
    }

    .cb:checked ~ .btn-div {
        transform: scale(1, 1);
    }

    .cb {
        display: none;
    }

    label {
        display: block;
    }

    label > img {
        position: absolute;
        top: 1.5rem;
        right: 25px;
    }

    .btn {
        margin-bottom: 2rem;
    }

    .list-div {
        position: absolute;
        top: 100%;
        background-color: white;
        width: 100%;
    }

    .list-div {
        text-align: center;
    }

    .list-div > ul li {
        display: block;
        margin-block: 1rem;
        margin-right: 1.2rem;
    }

    .btn-div {
        padding: 0;
        text-align: center;
        position: absolute;
        top: 510%;
        background-color: white;
        width: 100%;
    }

    .left-grid {
        width: 90%;
        padding: 2%;
        margin-inline: auto;
        text-align: center;
    }

    .left-grid {
        order: 2;
    }

    .right-grid {
        background-position: left top -30px;
        background-size: cover;
        position: relative;
        width: 100%;
        order: 1;
        text-align: center;
    }

    .right-grid > img {
        width: 500px;
        position: unset;
    }

    .column {
        text-align: center;
        margin-bottom: 1rem;
    }

    .sec-1-row {
        text-align: center;
    }

    .cardy {
        text-align: center;
        margin-bottom: 2rem;
    }

    .butt-div,
    .footer-list ul,
    .footer-div {
        padding: 0;
        text-align: center;
    }

    .footer-div + div {
        padding: 0;
    }
}

@media screen and (max-width: 375px) {
    .left-grid {
        width: 100%;
        position: relative;
    }

    .right-grid > img {
        width: 300px;
        position: unset;
        top: -10%;
    }

    .left-grid {
        padding: 1rem;
    }

    
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }